################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/hada-p1/obj/Debug
/.vs/hada-p1
